/* sidebar size TODO */
@media (min-width: 576px) {
  .bg-sidebar {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .bg-sidebar {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .bg-sidebar {
    max-width: 300px;
  }
}

@media (min-width: 1200px) {
  .bg-sidebar {
    max-width: 300px;
  }
}

#app-name {
  background: -webkit-linear-gradient(#00B6FC, #00DDB7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1.8rem;
  font-weight: bold;
}

.bg-sidebar {
  background-image: linear-gradient(to right,#21264F, #281C39);  
  padding-right: 0;
  padding-left: 0;
}

.bx-shadow-sidebar {
  box-shadow: inset 20px 0px 13px -20px rgb(0 0 0 / 15%);
}

.nav-link > a:first-child {
  color: var(--light);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  padding-left: 1.7rem;
}

.nav-link > a {
  color: var(--light);
}

.nav-link.active > a {
  color: #21264F;
  display: flex;
}

.nav-link.active {
  background-color: var(--light);
  position: relative;
  display: flex;
}

.nav-link:hover {
  background-image: linear-gradient(to right,#3d4896, #7450a7);
}

.nav-link.active:hover > a {
  color: var(--light);
}

.nav-link.active > a::before {
  width: 0.3rem;
  margin-left: 1.7rem;
  height: 50%;
  position: absolute;
  left: 0; 
  content: "";
  border-radius: 8px;
  background-color: #00B6FC;
  align-self: center;
}

/* Card component CSS */
.crd, .crd-wdgt, .t-crd {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.crd .c-body {
  padding: 1rem;
}

.c-body label {
  font-size: 1rem;
  font-weight: bold;
}

.modal-dialog > .crd {
  pointer-events: auto;
}

/* Card Widget component SS */
.crd-wdgt {
  border-radius: 50rem;
  margin-bottom: 3rem;
  line-height: 1.2;
  padding: 1rem 1.5rem;
}

.crd-wdgt > div {
  flex-wrap: nowrap;
}

.cw-dot {
  font-size: 0.6rem;
}

.cw-number {
  color: #adb5bd;
  font-weight: 400;
}

.cw-icon {
  font-size: 2rem;
}

/* Task Card component CSS */

.t-crd-due-date {
  font-size: .8rem;
  font-weight: bold;
}

.t-crd-due-date-overdue {
  color: var(--danger);
}

.t-crd-due-date-timely {
  color: #21af5d;
}

.t-crd-actions {
  font-size: 1.2rem;
}

.t-crd-actions > a {
  text-decoration: none;
}

.t-crd-actions i::before {
  color: #3d4896;
}

#t-crd-complete:hover i::before {
  color: var(--success);
}

.t-completed i::before {
  color: var(--success);
}

.t-crd-edit:hover i::before {
  color: var(--orange);
}

.t-crd-delete:hover i::before {
  color: var(--danger);
}

.task-completed {
  /* text-decoration-line: line-through; */
  font-size: 2rem;
  position: relative;
}

.task-completed::after {
  border-bottom: 0.125em solid rgba(255, 0, 0, 0.5);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.task {
  font-size: 0.9rem;
}

/* Button CSS */
.dl-btn {
  font-size: 1rem;
  font-weight: bold;
  color: var(--light);
  border: none;
  padding: .75rem;
  border-radius: .4rem;
  background-image: linear-gradient(to right,#3d4896, #3d4896);
}

.dl-btn:hover {
  background-image: linear-gradient(to right,#3d4896, #7450a7);
}

/* 404 font */
#not-found-font {
  color: #3d4896;
  font-size: 5rem;
}

/* home card */

.home-completed-tasks {
  color: #3d4896;
  font-weight: 900;
  font-size: 1.5rem;
}

.home-total-tasks-text {
  font-size: .8rem;
  font-weight: bold;
}

.home-total-tasks {
  font-size: .9rem;
  font-weight: bold;
}

/* progress bar */
.prg-style {
  height: .4rem;
}